.account-details {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-part {
  background-color: #000;
  height: 20vh;
}
.account-header {
  color: #000;
  padding-left: 160px;
  padding-top: 30px;
}
.hr-line {
  background-color: lightblue;
  width: 80%;
}
.membership-details {
  padding-left: 160px;
  display: flex;
}
.membership-header {
  font-size: 18px;
  color: blue;
  margin-right: 15px;
}
.plan-details-header {
  font-size: 18px;
  color: blue;
  margin-right: 15px;
}
.plan-details {
  padding-left: 160px;
  display: flex;
}
.hd-btn {
  background-color: transparent;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid #000;
  width: 80px;
  height: 30px;
  color: #000;
}
.logout-btn {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}
.logout {
  background-color: red;
  cursor: pointer;
  border-radius: 8px;
  border: 0px;
  color: #fff;
  padding: 8px;
  width: 80px;
}
@media screen and (max-width: 768px) {
  .account-header {
    padding-left: 30px;
    font-size: 25px;
  }
  .membership-details {
    padding-left: 30px;
  }
  .hr-line {
    width: 90%;
  }
  .membership-paragraph {
    font-size: 15px;
  }
  .plan-details-paragraph {
    font-size: 13px;
  }

  .hd-btn {
    width: 80px;
    font-size: 13px;
    margin-top: 13px;
  }
}
